.hash-verifier {
  margin-top: 2rem;

  & .label {
    font-weight: 700;
  }

  & .verify-wrapper {
    display: flex;
    height: 2rem;
  }

  & .input {
    width: 100%;
    padding: 0 0.25rem;
    border: 1px solid #aaa;
  }

  & .input--has-value {
    border-right: 0;
  }

  & .img {
    width: 2rem;
    border: 1px solid #aaa;
  }
}
